<section class="slider pt-md-4 mb-md-5 wow animate__backInLeft">
  <div class="container-xxl">
    <div class="tea-item">
      <div>
        <img src="assets/images/slider/slide-1.png" class="w-100" alt="slide-1">
      </div>
    </div>
  </div>
</section>

<section class="questions pt-md-4 mb-md-5" ngbAccordion [closeOthers]="true">>
  <div class="container-xxl col-7">
    <h3 class="docs mb-md-5 text-center">Ответы на часто задаваемые вопросы</h3>
    <ngb-accordion [closeOthers]="true" activeIds="static-1">
      <ngb-panel id="static-1" title="Собираете ли вы подарочные боксы?">
        <ng-template ngbPanelContent>
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2" title="Сколько у вас разновидностей чая?">
        <ng-template ngbPanelContent>
          У нас достаточно видов чая, чтобы удовлетворить изысканный вкус даже самого требовательного
          покупателя.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-3" title="В какой срок осуществляется доставка?">
        <ng-template ngbPanelContent>
          Доставка осуществляется в течение суток с момента обработки заказа.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-4" title="У вас обновляется ассортимент?">
        <ng-template ngbPanelContent>
          Да, обновление нашего ассортимента чаев происходит дважды в неделю по вторникам и пятницам.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-5" title="Какого объема у вас пачки чая?">
        <ng-template ngbPanelContent>
          Чай продается в следующих пачках: s - small (100 грамм); L - lagre (300 грамм); xl - superlarge
          (500 грамм).
        </ng-template>
      </ngb-panel>

    </ngb-accordion>
  </div>
</section>

<div id="white-popup" class="popup-bg">
  <div class="white-popup fw-bold">
    <h3 class="popup-text p-3">
      Посмотрите наши чайные коллекции!
    </h3>
    <a [routerLink]="'/catalog'" class="popup-link bg-primary px-5 py-3 text-light">Смотреть</a>
  </div>
</div>










